body{
    display: flex;
}

.picture{
    background-image: url("images/forest.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 40%;
    height: 400px;
}
.background{      
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    background-color: black;
    opacity: 50%;
    margin-top: 100px;
    
}
.name{
    text-align: center;
}


