body{
    display: flex;
    margin: 0;
}

.picture{
    background-image: url("images/forest.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 35%;
    height: 400px;
}
.background{      
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    background-color: black;
    opacity: 50%;
    margin-top: 100px;
    
}
.name{
    text-align: center;
}

.signup{
    width: 65%;
}

.text{
    font-size: 0.8rem;
    padding: 75px 50px 30px 20px;
    background-color: #f7f7f7;
}

.form{
    font-size: 0.5rem;
    padding: 20px 50px 15px 20px;
}
input, label{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.bottom{
    background-color: #f7f7f7;
}


